@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.vh-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fixed-h-center {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}





.btn-pressed {
  transition: transform 100ms;
}

.btn-pressed:active {
  transform: scale(0.9);
  }
  
  */